# Python
__pycache__/
*.py[cod]
.venv/

# Env
.env

# macOS
.DS_Store

# Logs
logs/*.log

# Local data
data/raw/*
data/processed/*
data/sim/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/sim/.gitkeep

# Reports
reports/daily/*
reports/weekly/*
reports/health/*
!reports/daily/.gitkeep
!reports/weekly/.gitkeep
!reports/health/.gitkeep

# IDE
.vscode/
.idea/

# Temporary
tmp/
.cache/

# Database
*.db
*.duckdb
*.sqlite
